# dev files
*/**/build
dist/
node_modules/

# pnpm
pnpm-lock.yaml
.pnpm-store/
.pnpm-debug.log

# Local files
.env
/data
**.local.*


# AI files
**/.claude/settings.local.json
/.specify
/specs

# Distribution files

# VSCode
.vscode/
.history/

# misc
*.log
**/.DS_Store